on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Listing environment details...
        run: |
          echo "Current branch:"
          git branch --show-current
          echo "Files list: "
          ls -lh
